<?xml version="1.0" ?>
<robot name="peg">
    <link name="peg">
        <visual>
            <geometry>
                <mesh filename="peg.STL" scale="0.001 0.001 0.001" />
            </geometry>
        </visual>
        <collision>
            <geometry>
                <mesh filename="peg.STL" scale="0.001 0.001 0.001" />
            </geometry>
        </collision>
    </link>
</robot>
